.hero {
  text-align: left;
  padding-top: 20em;
  background-image: url("../assets/photo-couch_2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  position: relative;
}

.herocontent {
  margin: 0 auto;
  max-width: var(--width1);
  padding: 0 1em 4em 1em;
}

.pre {
  font-weight: lighter;
}

.heroheader {
  font-family: "LatoLight";
  font-weight: lighter;
  font-size: xxx-large;
  margin: 0.5em 0;
}

.getstarted {
  border-radius: 18px;
  text-transform: capitalize;
  padding: 7px 25px;
  text-align: center;
  border: transparent;
  background-color: var(--green);
  color: var(--text);
  letter-spacing: 0.5px;
  cursor: pointer;
  margin: 2em 0;
  transition: background-color 0.3s ease-in;
}

.getstarted:hover,
.getstarted:active {
  background-color: var(--hover);
}

@media screen and (max-width: 1250px) {
  .herocontent {
    max-width: var(--width2);
  }
}

@media screen and (max-width: 1050px) {
  .herocontent {
    max-width: var(--width3);
  }
}

@media screen and (max-width: 850px) {
  .herocontent {
    max-width: var(--width4);
    padding: 0 3em 4em 3em;
  }

  .hero {
    background-image: url("../assets/photo-couch.jpg");
  }
}
